<html>

<body>

<xmp theme="simplex" style="display:none;">
# Methods

## /findone
### Basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter _ {'name' : 'monsieur canard'} _

---

## /findall
### Basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter _ {'name' : 'monsieur canard'} _

---

## /append
### basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-document _ {'name' : 'monsieur canard'} _

---

## /update
### basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter _ {'name' : 'monsieur canard'} _
* mongo-set-values _ { '$set': { 'name': 'Pepedou' } } _
---

## /delete
### basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter _ {'name' : 'monsieur canard'} _

</xmp>

<script src="{{ url_for('static', filename='strapdown-0.2/strapdown.js') }}"></script>
</body>

</html>