<html>

<body>

<xmp theme="simplex" style="display:none;">
# Methods

## /findone
### Basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter

---

## /findall
### Basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter __({"name" : "monsieur canard"})__

---

## /append
### basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-document __({"name" : "monsieur canard"})__

---

## /update
### basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter __({"name" : "monsieur canard"})__
* mongo-set-values __(example = { "$set": { "name": "Pepedou" } } )__
---

## /delete
### basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter __({"name" : "monsieur canard"})__

</xmp>

<script src="{{ url_for('static', filename='strapdown-0.2/strapdown.js') }}"></script>
</body>

</html>