<html>

<body>

<xmp theme="simplex" style="display:none;">
# Methods

## /find
### Basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter

---

## /findall
### Basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter

---

## /append
### basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-document

---

## /update
### basic body parameters :
* database
* database-name

### MongoDB specific parameters :
* mongo-collection
* mongo-filter
* mongo-set-values
</xmp>

<script src="{{ url_for('static', filename='strapdown-0.2/strapdown.js') }}"></script>
</body>

</html>